<div class="ae-grid au-xs-ta-center au-mb-4">


    <div *ngFor="let item of blogs" class="animate__animated animate__fadeInUp    ae-grid__item item-lg-4 ae-kappa ">
        <img src="{{item.img}}" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{item.title}}</h5>
        <p class="ae-u-bolder ">{{item.subtitle}}</p>
        <p class="au-lg-ta-left  au-pl-4 au-pr-4">{{item.frase}}</p>
        <a target="_blank" href="{{item.url}}" class="ae-u-bolder au-underline">See More</a>
    </div>






</div>
<div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Carmel Shvartzman</h4>
        <p>I've been doing Computer Science for 17 years now,
            resolving problems centered in a user-friendly approach towards the software users,
            & focusing in helping others enjoying teaching colleagues & learning new technologies. I created & maintain
            a Dynamics XRM 365 blog ,
            a C# ASPNET MVC blog , an Angular blog , and an HTML5 blog .

        </p>
    </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">About Us</h6>
        <p class="au-lh-3">FULL-STACK & MICROSOFT DYNAMICS XRM EXPERIENCE <br>
            PYTHON R NODEJS FINANCIAL VIEW MORE<br>
            ANDROID PYTHON R NODEJS MONGODB FINANCES<br><br>
        </p>
        <p class="au-lh-3">Αδραξε την μερα!
        </p>

        <p class="au-lh-3"> Carpe Diem!</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Mission</h6>
        <p class="au-lh-3">
            FULL STACK DEVELOPMENT<br>
            Angular Ajax JQuery Dot.Net Core Bootstrap <br>
            WCF OData RESTful Asp.Net MVC Mobile Entity Framework Development</p>

        <p class="au-lh-3">
            MICROSOFT DYNAMICS XRM 365<br>
            Microsoft Dynamics XRM 365, CRM 2013, CRM 2011, creating Plugins, custom Workflows,
            javascript and WebAPI.</p>

        <p class="au-lh-3">
            DATA SCIENCE<br>
            Python & R languages Hypothesis generation engineering, naïve bayes,
            random forest models, Linear Regression, Logistic Regression, Support Vector Machines,
            K-Means Clustering, & Neural Nets. mollit anim id est laborum.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">LOVE WHAT YOU DO, AND YOU'LL DO WHAT YOU LOVE</h6>
        <p class="au-lh-3">


            ANDROID & IONIC - GOOGLE PLAY STORE EXPERIENCE<br>
            Google Play Store Apps developed with Android Ionic cross-platform software<br> <br>



            SQL SERVER & SSIS & SSRS & MONGODB & FIREBASE EXPERIENCE<br>
            Databases development using SQL Server, MongoDB Atlas, SSRS, SSIS, Firebase,
            performance and tuning.<br> <br>


            COURSES LEARNED<br>
            Harvard - Stanford - MIT - Yale - Microsoft - Prodware - Open University of Israel -
            Hebrew University of Jerusalem<br> <br>



        </p>
      
    </div>

</div>
<p class="au-flex au-pt-4 group-buttons"><a  routerLink="portfolio"
        class="au-mt-4 arrow-button arrow-button--right arrow-button--out">View Our Portfolio<span class="arrow-cont">
            <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
            </svg></span></a></p>
